.ratingWrapper {
  padding: 20px;
  background: #eee;
  margin: 5px 0;
}

.ratingTitle {
  text-transform: uppercase;
  font-weight: bold;
}

.selector {
  width: 95%;
  padding: 10px 20px;
  border-radius: 0;
  border: 1px solid #ccc;
}